.font1-purple{
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-purple);
}
.font2-purple-bold{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-purple);
}
.font3-purple-bold{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-purple);
}
.font3-black-bold{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-black);
}
.font3-black-bold-reverse{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-black);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.font4-black-regular{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-black);
}
.font4-black-regular-reverse{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-black);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.font4-purple-regular{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-purple);
}
.font5-purple-regular{
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--color-purple);
}